<a href="https://colab.research.google.com/github/kadobkina/Python_sfedu/blob/master/py_%D0%B7%D0%B0%D0%BD%D1%8F%D1%82%D0%B8%D0%B51.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math
import random as rand

In [ ]:
#1
print('Введите трехзначное натуральное число')
n = int(input())
if len(str(n)) == 3 and n/100>=1 :
    sum = n%10 + n//10%10 + n//100%10
    print(f'Сумма цифр числа {n} = {sum}')

Введите трехзначное натуральное число
253
Сумма цифр числа 253 = 10

In [ ]:
#2a
a = int(input())
b = int(input())
c = int(input())
y = -((b+math.sqrt(b**2-4*a*c))/2*a)
print(f'y = {y}')

1
4
3
y = -3.0

In [ ]:
#2b
x = int(input())
y = math.sin(x)**2+math.log(abs(1+x))
print(f'y = {y}')

2
y = 1.925434099099916

In [ ]:
#3
r = rand.randint(1,10)
check=False
i=1
while(not check and i<4):
    print('Угадай число от 1 до 10')
    ans = int(input())
    if ans == r:
         print('Число угадано!')
         check = True
    elif ans < r:
         print(f'Введенное число меньше загаданного. Осталось попыток: {3-i}')
    else:
         print(f'Введенное число больше загаданного. Осталось попыток: {3-i}')
    i+=1
if(not check):
     print(f'Вы так и не угадали :( \nЗагаданное число - {r}')

Угадай число от 1 до 10
5
Введенное число меньше загаданного. Осталось попыток: 2
Угадай число от 1 до 10
7
Введенное число меньше загаданного. Осталось попыток: 1
Угадай число от 1 до 10
8
Введенное число меньше загаданного. Осталось попыток: 0
Вы так и не угадали :(
Загаданное число - 10

In [ ]:
#4
print('Введите натуральное число')
n = int(input())
ans = n
check = False
while(not check and n > 0):
     if n%10 in range(4):
         print(f'В числе {ans} есть цифра от 0 до 5')
         check = True
     n//=10
if (not check):
    print(f'В числе {ans} нет цифр от 0 до 5')

Введите натуральное число
7868056
В числе 7868056 есть цифра от 0 до 5

In [ ]:
#5
n = 1000
cnt = 0
while n<10000:
    if '0' in str(n):
        cnt +=1
    n = int(n)+ 1
print(f'Количество четырехзначных натуральных чисел с цифрой 0 = {cnt}')

Количество четырехзначных натуральных чисел с цифрой 0 = 2439

In [ ]:
#6
def sum_mult(a=2,b=3,c=4):
     sum = a+b+c
     mult = a*b*c
     return (sum,mult)

In [ ]:
#6
sum_mult(1,2,1)

(4, 2)

In [ ]:
#6
sum_mult()

(9, 24)

In [ ]:
#6
a = 2
b = 2
c = 2
sum_mult(a,b,c)

(6, 8)

In [ ]:
#7
st = '12345'
print(f'Исходная строка: {st}')
print(f'Измененная строка: {st[:0:-1]}')

Исходная строка: 12345
Измененная строка: 5432

In [ ]:
#8
st = 'Hello, World!\nI am\t"Python".'
print(f'Исходная строка:\n{st}')
st = st.replace('\n', ' ')
st = st.replace('\t', ' ')
st = st.translate({ord(i): None for i in """'",.:;!?`"""})
print(f'\nИзмененная строка: \n{st}')

Исходная строка:
Hello, World!
I am	"Python".

Измененная строка:
Hello World I am Python

In [ ]:
#9
l = [1, 2, 5, 3, 4, 5, 3, 1, 5, 0]

def remove_max(l):
    ll = l.copy()
    max_el = max(ll)
    while (max_el in ll):
        ll.remove(max_el)
    return ll

new_list = remove_max(l)
new_list

[1, 2, 3, 4, 3, 1, 0]

In [ ]:
#10
l = [2,4,1,3,5]
print(f'Исходный список: {l}')
l.sort()
print(f'Отсортированный по возрастанию список: {l}')
l.sort(reverse=True)
print(f'Отсортированный по убыванию список: {l}')

Исходный список: [2, 4, 1, 3, 5]
Отсортированный по возрастанию список: [1, 2, 3, 4, 5]
Отсортированный по убыванию список: [5, 4, 3, 2, 1]

In [ ]:
#11
new_set = {i for i in range(1,101) if i%3 == 0 or i%7==0}
new_set

{3,
 6,
 7,
 9,
 12,
 14,
 15,
 18,
 21,
 24,
 27,
 28,
 30,
 33,
 35,
 36,
 39,
 42,
 45,
 48,
 49,
 51,
 54,
 56,
 57,
 60,
 63,
 66,
 69,
 70,
 72,
 75,
 77,
 78,
 81,
 84,
 87,
 90,
 91,
 93,
 96,
 98,
 99}

In [ ]:
#12
st = "16236311536351167270"
d = {}
print(f'Дана строка: {st}\nЕе символы и их количества:')
for ch in st:
    if d.get(ch) == None:
        d[ch] = 1
    else:
        d[ch] += 1
        
for el in d:
    print(f"'{el}' - {d[el]}")

Дана строка: 16236311536351167270
Ее символы и их количества:
'1' - 5
'6' - 4
'2' - 2
'3' - 4
'5' - 2
'7' - 2
'0' - 1